<table class="table text-center table-striped">
	<thead>
		<tr>
			<th>Id</th>
			<th>Email</th>
			<th>Role</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for admin in admins %}
			<tr>
				<td>{{ admin.id }}</td>
				<td>{{ admin.email }}</td>
				<td>
					{% for role in admin.roles %}
						{{ role }}
					{% endfor %}
				</td>
				<td>
					{% if user.id != admin.id %}
						<a href="{{ path('delete_admin', { 'id' : admin.id }) }}" class="btn btn-sm btn-danger">Supprimer</a>
					{% else %}
						🚫	
					{% endif %}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>