<div class="col-3 d-flex flex-column profil text-center text-white fs-5">
	<div class="row my-5">
		<span class="p-2 fw-bold fs-4">Mon profil consultant</span>
	</div>
	<div class="row mb-5 p-2">
		<span class="mb-2 p-2">{{ user.email }}</span>
	</div>
	<div class="row d-flex justify-content-center">
		<div class="col-8">
			<a href="{{ path('app_logout') }}" class="btn btn-outline-warning">Se déconnecter</a>
		</div>
	</div>
</div>