{% extends "base.html.twig" %}

{% block stylesheets %} 
	<link rel="stylesheet" href="{{ asset('css/consultant/index.css') }}" />
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<!-- left side profil -->
				{% block profil %}{% endblock %}
			<!-- main area-->
                {% block main %}{% endblock %}
		</div>
	</div>
{% endblock %}