body {
	height: 100vh;
}

.profil {
	background: linear-gradient(#30476A, #132540);
}

span:hover {
	background-color: #3c4b64;
}

main {
	background-color: #E9EAED;
	overflow: scroll;
	height: 100vh;
}