{% extends "base.html.twig" %}

{% block stylesheets %} 
	<link rel="stylesheet" href="{{ asset('css/recruiter/index.css') }}" />
	<link rel="stylesheet" href="{{ asset('css/recruiter/_adForm.css') }}" />
{% endblock %}
{% block javascripts %}{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			{% block profil %}{% endblock %}
			{% block main %}{% endblock %}
		</div>
	</div>
{% endblock %}