{% extends 'base.html.twig' %}

{% block title %}Compte en attente de validation{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/inactiveAccount.css') }}" />
{% endblock %}

{% block body %}
<main class="container-fluid">
    <div class="row">
        <div class="col-6 background text-white d-flex flex-column align-items-center justify-content-center">
            <h1 class="fs-2 fw-bold">Votre compte est en attente de validation</h1>
            <a href="{{ path('app_login') }}" class="mt-5 text-white btn btn-outline-warning">Page de connexion</a>
        </div>
        <div class="col-6 p-0">
            <img src="../images/trtConseilBackground.jpg" alt="edit"/>
        </div>
    </div> 
</main>
{% endblock %}
