{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block stylesheets %} 
	<link rel="stylesheet" href="{{ asset('css/candidate/index.css') }}" />
{% endblock %}

{% block body %}
	<div class="container-fluid h-100">
		<div class="row h-100">
			<!-- left side profil -->
				{% block profil %}{% endblock %}
			<!-- main area-->
				{% block main %}{% endblock %}
		</div>
	</div>
{% endblock %}